html {
  word-break: normal;
}

body {
  flex-direction: column;
}

main {
  animation: fade-in 0.2s 1s forwards;
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

footer {
  animation: fade-in 0.2s 1s forwards;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

p,
a {
  font-size: 1.6rem;
}

.about {
  margin-bottom: 1rem;
}
.about p {
  font-size: 2.4rem;  
}

.center {
  text-align: center;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  font-size: 1.6rem;
}

.link-icon {
  height: 20px;
  width: 20px;
}

.link {
  color: rgb(99, 107, 111);
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.links:hover {
  color: rgb(99, 107, 111);
}
.links:visited {
  color: rgb(99, 107, 111);
}

.no-margin {
  margin: 0;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.spacing {
  word-spacing: 1.5rem;
}

.sub-title {
  margin-bottom: 2rem;
}
.sub-title p {
  font-size: 2.4rem;
}

.teaser {
  animation: fade-out 0.2s 0.8s forwards;
}

.title {
  margin: 0;
}
.title p {
  font-size: 5.4rem;
  margin: 0;
}

.underline {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
